RewriteEngine On
RewriteRule ^\.htaccess$ - [F]
RewriteCond %{REQUEST_URI} =""
RewriteRule ^.*$ /law/public/index.php [NC,L]
RewriteCond %{REQUEST_URI} !^/law/public/.*$
RewriteRule ^(.*)$ /law/public/$1
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^.*$ - [NC,L]
RewriteRule ^law/public/.*$ /law/public/index.php [NC,L]
